@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	padding: 0;
}

div.trump {
	position: absolute;
	bottom: 0;
	left: 25px;
	width: 96px;
	height: 341px;
	z-index: 2000;
	cursor: pointer;
	margin: 0;
}

div.popup {
	display: block;
	position: absolute;
	background: #FFF;
	border: 1px solid black;
	z-index: 2500;
	width: 400px;
	height: 400px;
	/*box-shadow: -10px 10px 20px #CCC;*/
}

div.popup p { 
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	font-weight: 300;
	padding: 0 10px;
}

div.popup h3 { 
	padding: 5px;
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

span.bold {
	font-weight: 700;
}
